[2017-07-18 17:08] dsignr opened #1 "verify_hash/3 breaks phauxth"
W.R.T: 1b00fa78e0393bfcd1f02861d59dfef518df1c58

This breaks Phauxth with `function Bcrypt.verify_hash/3 is undefined or private.`

[2017-07-19 06:29] riverrun commented on #1
It's now Bcrypt.verify_pass/2 -- sorry about the confusion :)

[2017-07-19 12:15] dsignr commented on #1
Ok, thanks for the clarification. Upgrading to Phauxth 0.12.1-rc.1 solves this for now. Closing and thank you :)

[2017-07-19 12:15] #1 closed

[2017-07-28 18:30] tomciopp opened #2 "Documentation"
The docs specify version 1.0 of this library, however there is no such version that has been deployed to hex.pm (most recent is 0.12.0). Should the docs be updated or is there a new version of the package that should be published?

[2017-07-29 01:23] riverrun commented on #2
Good catch! Just updating the README now.

[2017-07-29 01:23] #2 closed

[2017-08-14 18:31] Arthien opened #4 "Blocks main process threads"
This library seems to run in serial instead of utilizing a worker pool as described in https://github.com/smarkets/erlang-bcrypt. This is causing all our processes in the background to be blocked until each bcrypt function is done.

[2017-08-15 05:28] riverrun commented on #4
Yes, it is a NIF implementation, so it does not use a pool at all. The pool is only used in programs using ports.

[2017-08-16 02:52] #4 closed

[2017-08-21 22:24] michalmuskala opened #5 "Consider dirty schedulers"
Now that dirty schedulers are out of the experimental phase, I see no reason not to use them.

It's worth pointing out that the library significantly exceeds the advised run time for NIFs. Even though each bcrypt round is a separate NIF - a single round takes about 30ms on my machine. The recommended maximum runtime for a NIF is 1ms.

Running on dirty schedulers should significantly improve the re

[2017-08-22 03:13] riverrun commented on #5
I'm working on this at the moment :)

What I'll probably do is keep the current implementation at the current version and then make the dirty scheduler version 1.0, so that there's a clear distinction between versions, as not everyone is using Erlang 20.

It will be interesting to see if, or how much, the responsiveness will improve. I know there was a discussion about this on the slack channel re

[2017-08-22 05:07] michalmuskala commented on #5
That's great to hear.s

The solution I had in mind to keep both compatibility and take advantage of dirty schedulers would be to run using dirty schedulers when they are available and otherwise fall back to a regular NIF just like it's done today.

[2017-08-24 13:41] riverrun commented on #5
Work in progress on dirtyable branch.

[2017-08-24 14:19] michalmuskala commented on #5
I looked around a bit. It seems like you're moving more work to the C side from the Elixir side. Any particular reason? If the reason was to get rid of the `Base64` module - Elixir has `Base.decode64` in stdlib (which probably wasn't the case when the code was initially created).

[2017-08-24 14:48] riverrun commented on #5
There are a few reasons for moving more work to the C side:

* I want to have this implementation as close as possible to the latest OpenBSD version.
* It's easier to maintain (although this is not such a big consideration as the Bcrypt code base does not change so much between versions).
* The C version handles the base64 encoding, including truncating it to 128 bits, better than the Elixir versi

[2017-08-25 08:12] riverrun commented on #5
I just merged the changes to the master branch.

Now version 1 of bcrypt_elixir is the version with dirty scheduler support, and version 0.12 is for anyone not yet on Erlang 20.

[2017-08-25 08:12] #5 closed

[2017-09-04 14:06] lucaskalves opened #7 "bcrypt_elixir 1.0 compilation error on Windows"
I am facing an issue while compiling bcrypt_elixir on Windows. I tried all alternatives described in https://github.com/riverrun/comeonin/issues/68 without success. Did someone have a similar issue?

[code]

[2017-09-04 14:16] riverrun commented on #7
I have just updated master with a possible fix. Could you try it out and let me know how you get on?

[2017-09-04 15:49] lucaskalves commented on #7
Hi, @riverrun. Thank you, that solved the problem! I have to manually copy the C file into my local environment as it is still not available in HEX. Do you plan to deliver version 1.0.3 soon?

Thanks!

[2017-09-04 15:49] #7 closed

[2017-09-04 15:52] riverrun commented on #7
Glad to hear that worked and thanks for reporting the issue. I'll update the hex package now.

[2017-09-10 16:31] WolfDan opened #8 ""You need to have Erlang 20 installed to use this version of bcrypt_elixir" but is already installed"
As the title says I already have erlang 20 installed in my machine:

[code]

But when I run my test get this error:

[code]

I need to do any adittional step to make it work or?

Greetings

[2017-09-10 16:57] riverrun commented on #8
It looks like you are on Windows. Could you check [this page](https://github.com/riverrun/comeonin/wiki/Requirements), making sure that you have a C compiler installed?

Let me know if that works.

[2017-09-10 17:04] riverrun commented on #8
Thanks for pointing this out. I'll update the error message to make it more informative.

[2017-09-10 17:13] WolfDan commented on #8
@riverrun I forgot to mention that is already compiled, also I run mix test on at the developers command prompt for VS 2017, when compile show this:

[code]

[2017-09-10 17:52] riverrun commented on #8
Go into the `deps\bcrypt_elixir\lib\bcrypt` folder and in the base.ex file, change the init function to:

[code]

Then run `MIX_ENV=test mix deps.compile` and `mix test`, and let me know what the error message is.

[2017-09-10 18:16] WolfDan commented on #8
This is the result:

[code]

[2017-09-10 19:34] riverrun commented on #8
I was hoping for something a little more informative than "Unspecified error" :(

Try looking at [this issue](https://github.com/riverrun/comeonin/issues/68) and see if any of the suggestions there work for you.

One further question: have you been able to use comeonin, or bcrypt_elixir, in the past, or is this the first time you have used it?

[2017-09-10 20:11] WolfDan commented on #8
Well in fact the library itself is compiling, here the result [Image link](https://image.prntscr.com/image/kc7Nn-4dTWCbN8-zZso0OA.png)

The error message is when the program is running not when is compiled.

Now I compile it just with the developer command tool, the reason is this:

[code]

No matter if the command is correct always give me this error so I can't run compile on a normal cmd console

[2017-09-10 20:23] riverrun commented on #8
Can you find the `vcvarsall.bat` file and tell me which directory it is in?

[2017-09-10 21:18] WolfDan commented on #8
As mention on the previous message is on

"C:\Program Files (x86)\Microsoft Visual Studio\Shared\14.0\VC\"

[2017-09-10 21:21] riverrun commented on #8
One more thing you could try is to delete the `_build` directory and try running the tests again.

If that doesn't work, try asking for advice on other forums -- elixirforum.com or stackoverflow.com. I don't have a Windows machine, so it's a bit difficult for me to give you any further advice.

Unfortunately, getting Comeonin to run on Windows is a lot less straightforward than it should be.

[2017-09-10 21:25] WolfDan commented on #8
Ok, yeah I tried and don't work, I'll keep looking for solution, if I found any I come here and reply and close the issue, thanks for your help ^^

Greetings

[2017-09-15 11:57] riverrun commented on #8
Hi, did you manage to solve this problem?

[2017-09-15 14:33] WolfDan commented on #8
I've been a little busy this week, tomorrow I'll try again and I'll tell you if I managed to work or not ^^/

[2017-09-17 23:01] WolfDan commented on #8
I made it work!

I updated Visual Studio to the last version, so they moved the file to this path:

`C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\VC\Auxiliary\Build`

run the command, compile the project from zero (deleting deps and _build) and it works! hope this help to others :D

[2017-09-17 23:03] #8 closed

[2017-09-18 01:11] riverrun commented on #8
Glad to hear you got it working and thanks for letting us know how you solved the issue. I'll update the wiki with this info.

[2017-10-31 01:05] davidsrn opened #9 "Failed Compilation"
I'm trying to add the bcrypt_elixir dep in a Phoenix 1.3 project, when I run `mix deps.compile` i get the following error over and over again:

[code]
and when it finishes looping I get the following message over and over again:
[code]
and finally:
[code]
I already tried the instructions given to me and have failed to succeed.

Currently running:

- Erlang/OTP 20
- Elixir 1.5.1
- Mix 1.5.1
- Phoen

[2017-11-01 04:57] riverrun commented on #9
Try removing the `_build` directory and then opening a new shell with the command:

    cmd /K "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat" amd64

Then try `mix test`.

[2017-11-01 06:04] davidsrn commented on #9
Still getting the
[code]
error, I switched to Pbkdf2 since I don't need any compiler with this one.

[2017-11-01 11:06] riverrun commented on #9
I'm glad to hear you 'solved' the issue :)

Unfortunately, compiling the C code on Windows is a lot more difficult than it should be. I'm going to close this issue for now, but feel free to reopen it if you want to try to use bcrypt and are still having problems.

[2017-11-01 11:06] #9 closed

[2017-11-20 10:48] AndrewDryga opened #10 "Flaky behaviour of hashing nifs"
Hello there,

We are experiencing flaky test behaviour while using latest bcrypt_elixir:
[code]

[code]

Here is how Bcrypt used here:
[code]

[2017-11-21 01:11] riverrun commented on #10
Are you using version 1.0.4 of bcrypt_elixir?

[2017-11-21 01:42] riverrun commented on #10
In the error message, is the first number in the second argument of `hash_nif` always 0 (zero), or is it always different?

[2017-11-21 14:23] AndrewDryga commented on #10
Versions:
[code]

Here are some other failures:
[code]

[code]

Not always zero:
[code]

And even
[code]
which shows that zero byte somehow gets into the hashing result.

[2017-11-21 16:08] AndrewDryga commented on #10
It most successfully reproduces on `circleci/elixir:latest` container (which is used by our CI):
[code]

[2017-11-21 16:45] rickclare commented on #10
I've just tried using the latest commit to master ( https://github.com/riverrun/bcrypt_elixir/commit/a38cb3854c688e0ef54c4ca2425a9acd96aa7546 ) and so far this seems to have fixed our issue (i.e. no test failures after 3 test builds in our Circle CI environment).

updated _mix.exs_

[code]

Amazing work @riverrun, thanks for such a speedy response to this problem!

[2017-11-22 03:31] riverrun commented on #10
The latest commit to master just simplified the salt generation nif code, and it's possible that it fixed the problem. I'll push it to hex now.

I will keep this issue open, and we will see if the changes really have fixed the issue.

[2017-11-22 10:47] AndrewDryga commented on #10
@riverrun During our investigation of the issue, we found that to generate random salt nif part is using uninitialized integer, which can be broken by certain C compilers: https://stackoverflow.com/questions/31739792/is-uninitialized-local-variable-the-fastest-random-number-generator

[2017-11-22 11:43] riverrun commented on #10
The actual randomness comes from `:crypto.strong_rand_bytes`. The `gensalt_nif` just formats the salt.

[2017-11-22 11:44] AndrewDryga commented on #10
Got it, thanks 👍

[2017-11-22 12:05] AndrewDryga commented on #10
@riverrun I've just checked and it still reproduces with the latest `elixir_bcrypt` version from hex.pm:
[code]

[code]

[2017-11-22 13:40] riverrun commented on #10
Could you edit the `deps/bcrypt_elixir/c_src/bcrypt_nif.c` file and in the `bcrypt_initsalt` function add `printf("%s\n", salt);` before and after the call to `encode_base64`? Let's try to get more data.

[2017-11-22 18:04] AndrewDryga commented on #10
It's hard to tell which exact output is responsible for falure, because it doesn't reproduce with `--trace` flag:
[code]

All other entries are looking the same:
[code]

[2017-11-22 18:08] AndrewDryga commented on #10
Another one:
[code]

[2017-11-23 04:33] riverrun commented on #10
What OS are you using?

What versions of Erlang and Elixir are you using?

[2017-11-23 04:36] riverrun commented on #10
In `lib/bcrypt.ex`, add `|> IO.inspect` to the `gen_salt` function - after line 53, just before the  end.

[2017-11-23 10:36] AndrewDryga commented on #10
Looks fine for me:
[code]

[2017-11-23 10:39] AndrewDryga commented on #10
Here are arguments I an getting in `IO.inspect {pwd, salt}` placed in `Bcrypt.Base.hash_password/2` (the one that raises exception):
[code]

[2017-11-23 10:41] AndrewDryga commented on #10
Looks like I'm getting only salt prefix without a random part.

[2017-11-23 10:45] AndrewDryga commented on #10
Versions:
[code]
[code]

[2017-11-23 10:51] AndrewDryga commented on #10
Got it:
[code]

[2017-11-23 14:06] riverrun commented on #10
Let's try removing the current printf, IO.inspect calls and then replace the gen_salt function, in the `lib/bcrypt.ex` file with the following:

[code]

[2017-11-23 14:21] AndrewDryga commented on #10
@riverrun
[code]

[2017-11-23 17:34] riverrun commented on #10
If you switch to version 0.12, do you get the same errors?

Could you try changing O3 to O2 in the CFLAGS?

[2017-11-28 04:20] riverrun commented on #10
Any news?

[2017-11-28 11:13] AndrewDryga commented on #10
@riverrun version 0.12 works fine.

[2017-11-28 11:15] AndrewDryga commented on #10
With O2 it still doesnt work:
[code]

[2017-11-29 03:27] riverrun commented on #10
Try deleting the `_build` directory and running the tests again.

Could you show me the full code for one of your tests? That might help.

[2017-11-29 11:02] AndrewDryga commented on #10
@riverrun we are using ExMachina to generate fixtures, here is the factory that uses hashing and fails:
[code]

So, basically, we always hash a constant value but because of seeding nif it sometimes fails.

Deleting `_build` after setting `O2` in CFLAGS did not help.

[2017-11-29 11:03] AndrewDryga commented on #10
@rickclare can you confirm that you don't have issues anymore?

[2017-11-29 11:52] rickclare commented on #10
@AndrewDryga Unfortunately we _are_ still getting an occasionally failing test-suite with the `(ArgumentError) argument error` and `(ArgumentError) The salt is the wrong length` errors.

Probably doesn't help with diagnostics, but the failures aren't as frequent any more (e.g. our test suite is only failing "1 in 10" times, instead of "1 in 3" times).  Hence why I initially thought that the proble

[2017-11-29 11:55] AndrewDryga commented on #10
@rickclare It's only reproduced on CI environment, with runs in Docker container (`circleci/elixir:latest`). And only when tests are running in async, I wasn't able to reproduce them with `mix test --trace`.

[2017-11-29 12:59] riverrun commented on #10
For the record, I'm on Ubuntu 17.10 - with Erlang 20.1 and Elixir 1.6-dev.

I can't reproduce any of the errors you are getting, which makes it difficult for me to help you. I'll continue to look into it, and let me know if you have any news for me.

[2017-11-29 23:11] rickclare commented on #10
@AndrewDryga I can concur that we only get the problem when we run our tests `async`

[2017-11-30 05:41] riverrun commented on #10
I have added a note about using `async: true` with version 1.0 to the README.

[2018-01-17 08:31] philippneugebauer opened #11 "module Bcrypt.Base is not available on Windows"
I hope that's the right repo for the issue.

I tried compiling `bcrypt_elixi`r on Windows and after it failed, I managed to compile `bcrypt` through the installation of nmake by VS.

Although the compilation works now, I still get following error when `bcrypt` is called (or similar):
[code]

The console output is splitted in two parts:
[code]

[code]

I have Erlang with OTP 20 and nmake installed,

[2018-01-17 08:45] riverrun commented on #11
Did you compile bcrypt with mix compile (or mix deps.compile) after installing nmake and setting the environment variables?

[2018-01-17 08:55] philippneugebauer commented on #11
yeah, I executed the following commands:
[code]

The following is the output of mix deps.compile:
[code]

[2018-01-17 11:09] riverrun commented on #11
I'll look into it further and get back to you as soon as I can.

[2018-01-19 03:05] riverrun commented on #11
Just to clarify your situation, I have a few further questions (before looking at these questions, try deleting the `_build` directory in the main application folder and running your tests again - sometimes this works :) ):

* do you have one version of Erlang, or many versions, installed?
* are you running the tests from within Visual Studio or within a cmd shell (or powershell)?
    * are you us

[2018-01-19 05:13] riverrun commented on #11
Ok. There are some suggestions on https://github.com/riverrun/comeonin/issues/52 and https://github.com/riverrun/comeonin/issues/95

Could you try them and let me know how you get on.

[2018-02-08 22:46] philippneugebauer commented on #11
yeah, I was pretty much trying already all of these fixes, but they did not help.
The interesting thing is, that I can compile the code without errors and the error just shows up, when I call the library which seems to be differently for the other problems

[2018-02-08 23:05] philippneugebauer commented on #11
The only difference I found was that I used the current version of VS, so of 2017. I am not pretty sure, but do you think this could be a problem? On the other hand, my problem looks different to the other ones reported for me

[2018-02-10 03:18] riverrun commented on #11
I might be able to test this on Windows within the next couple of days. I'll keep you informed.

[2018-04-13 15:24] leifg commented on #10
I have the same issue with `1.0.6` but only on my CI environment (CircleCI) on the image `bitwalker/alpine-elixir:1.6.4`.

[2018-04-13 15:42] riverrun commented on #10
Could you let me know what output there is? And is it only when running `async: true`?

[2018-04-13 15:46] leifg commented on #10
[code]

Yeah only with `async: true` and it's also happening from time to time.

[2018-04-13 15:50] riverrun commented on #10
Ok - thanks for the info. I'll have another look at it and get back to you soon.

[2018-04-13 20:03] AndrewDryga commented on #10
@riverrun if you want we can make a screen share call, I can boot one of the CircleCI instances with SSH mode on and you would be able to run any commands to debug it.

Also, It should be fairly easy to create a PR which builds this repo in Elixir and test it there. If you don't have enough time for that - tell me and I'll make one.

[2018-04-14 05:29] riverrun commented on #10
@AndrewDryga thanks for the offer. Let me think about it, and I'll get back to you. Unfortunately, I don't have much time at the moment, but I would like to get to the bottom of this.

[2018-05-09 16:48] acidhorse commented on #11
Same issue, any pointers?

[2018-05-10 02:26] riverrun commented on #11
Hopefully, I'll have some time this weekend to look at it.

[2018-05-11 16:47] philippneugebauer commented on #11
I got the same issue with the integrated ubuntu and realized I needed to install Bcrypt. While it fixed it on linux, I still haven't got it working on Windows.

[2018-05-13 04:34] riverrun commented on #11
@philippneugebauer @osazemeu @acidhorse are you all using Visual Studio 2017? And could you let me know what error messages you are getting?

[2018-05-13 22:57] Camilonicolas commented on #11
@riverrun I have the same issue. I'm working with VS 14.0 (because I can't compile Comeonin with VS 2017, don't know why). Only when I try to use the function "Comeonin.Bcrypt.hashpwsalt(pass)" the error appears, but I can compile the proyect without any problem.
I'm using {:bcrypt_elixir, "~> 0.12"} with Erlan OTP 19 on windows.

This Error appears on my page when I try tp create a User (the prob

[2018-05-14 06:57] acidhorse commented on #11
@riverrun - for my 2 cents, same issue for me as @Camilonicolas has.

'module Comeonin.Bcrypt is not available'

@Camilonicolas - you might be able to compile using the VS2017 'Developer Command Prompt'?  It was the only thing that worked for me in the end.

[2018-05-14 16:46] Camilonicolas commented on #11
@riverrun I just unninstall everything related with Visual Studio and reinstalled everything again. I selected each of the installation boxes (more than 80GB of installation) and that worked for me. Maybe I had something wrong installed, I don't know, but it solved my problem.

@acidhorse  I was using the Developer Command Prompt before, but I had the same issue.

Now I'm using "Visual C++ 2015 x8

[2018-05-19 04:28] tomciopp commented on #10
I am running into this issue as well on OSX as well as on an alpine container running the most recent version of elixir and erlang. The issue is intermittent as others have described.

I think it may be useful to print the actual salt that is causing the error message as it would give us more info into why there is a failure w/o leaking anything useful.

Change

    def hash_password(_, _) do

[2018-05-19 05:08] riverrun commented on #10
@tomciopp thanks for reporting this. Do you ever have this issue locally?

[2018-05-19 05:28] riverrun commented on #10
I've just released 1.0.7 with the changes you suggested.

[2018-05-19 11:49] riverrun commented on #10
I have opened a new branch, called `fix_salt_bug`, and in it I've some minor changes to the C code. If you could try these changes, that would be great.

Other changes you could try are deleting the explicit type cast to uint8_t on lines 278 and 319.

Let me know how you get on.

[2018-05-19 14:02] tomciopp commented on #10
@riverrun Yes, I've had this issue locally as well as on CI. I will update to the newest version and the next time I see the error I will report back. I would also suggest that you move the following comment to the top of the NIF as I thought that it was entirely copy/pasted from OpenBSD.

    * This version, to be used with Erlang / Elixir, has been implemented
    * by David Whitlock and Jason M

[2018-05-19 17:33] tmpduarte commented on #10
@riverrun, me and @marinho10 just updated `bcrypt_elixir` to `1.0.7` in one of our projects running on [circleCI](https://circleci.com)  and removed `async: false` and the tests ran just fine.

thanks for the fix!

[2018-05-20 03:49] riverrun commented on #10
@tomciopp if you could also try the `fix_salt_bug` branch, that would be really helpful.

About the C code, it is as close as it can be to the openBSD version. The only differences are due to connecting it to Erlang, and there are a couple of places where I had to make explicit casts because the implicit casts in the openBSD version were resulting in compiler warnings.

[2018-05-21 10:58] tmpduarte commented on #10
@riverrun is there a way to specify the salt to be used?

We randomly are getting the `The salt xyz must be 29 bytes long` error when using the `Bcrypt.Base.hash_password/2` function

[code]

[2018-05-21 11:45] riverrun commented on #10
When are you getting these errors and how often? Is it only when running continuous integration and running async, or do you get them locally as well?

You can specify your own salt in the `Bcrypt.Base.hash_password` function. The second argument is the salt.

Do you normally use `Bcrypt.hash_pwd_salt` or `Bcrypt.Base.hash_password`?

[2018-05-21 11:47] riverrun commented on #10
@tomciopp I changed the wording of the copyright notice to make it a little clearer that this implementation is as close as can be to the OpenBSD version.

[2018-05-21 13:47] tmpduarte commented on #10
The errors are happening on our CI servers (we are using CircleCI) and we switched our tests to be `async` as we thought the issue was fixed.

We use `Bcrypt.hashpwsalt(password)`.

[2018-05-21 14:16] riverrun commented on #10
@tmpduarte could you try it with the `fix_salt_bug` branch?

[2018-05-21 17:20] tmpduarte commented on #10
I just tried the `fix_salt_bug` and I get the following:

[code]

Let's wait for the @tomciopp answer as I might be doing something wrong. I am using `comeonin` and had to force the `fix_salt_bug` branch, not sure if that has some side effect.

[2018-05-22 06:38] riverrun commented on #10
@tmpduarte thanks for the report. I've made a couple of small changes - the changes will emit warnings, but don't worry about them. Could you try it again and let me know how you get on?

[2018-05-23 04:13] riverrun commented on #10
@tomciopp those warnings are not a problem - I just removed the explicit cast to make the code as close as possible to the OpenBSD version.

And do you get the salt errors locally as well? And is it only when running tests async?

[2018-07-11 13:31] riverrun commented on #10
Small updates to the NIF code in version 1.0.8. Let me know if there are any changes.

[2018-07-16 21:23] tomciopp opened #13 "version 1.0.8"
This version has been published to hex, but I can't find the changes from 1.0.7. Has this been pushed to github?

[2018-07-17 04:29] riverrun commented on #13
Yes, I will update it now. There are just some small updates to the NIF code (bcrypt_nif.c) in version 1.0.8.

[2018-07-17 04:29] #13 closed

[2018-07-30 07:02] jarimatti opened #14 "Include LICENSE in package files"
The LICENSE file would be useful in the Hex package, as then including it automatically in project documentation would be trivial.

[2018-08-03 00:47] riverrun commented on #14
Sounds good - I'll do this today.

[2018-08-05 05:34] riverrun commented on #14
Added in version 1.0.9

[2018-08-05 05:34] #14 closed

[2018-08-07 06:32] jarimatti commented on #14
Thanks!

[2018-08-16 14:59] eaguilera23 opened #15 "[Help] bcrypt on docker container?"
Hi guys. I'm trying to run my elixir project on docker, and it says that I need a C compiler and Erlang 20.

I am using the image `elixir:1.6.6` which uses the image `erlang:21`.

When I run `erl` it shows

[code]

And I run apt-get install gcc, it shows:

[code]

The same with `make` and `libc6-dev`

Basically the error at runtime (and starting) is:

[code]

Have you run bcrypt as dependency on a

[2018-08-17 20:07] izelnakri commented on #15
Same issue here, my docker container runs archlinux with gcc compiler and Erlang/OTP 21 so this issue is super weird. Downgraded the dependency to 0.12 and its working, the latest version works on my local MacOS but not in docker.

[2018-08-18 02:01] izelnakri commented on #15
@eaguilera23 I figured I missed .dockerignore file in my backend directory, which meant my mac os _build folder was in my archlinux container!

[2018-08-21 06:30] eaguilera23 commented on #15
@izelnakri What worked for me was to compile the dependencies on the container as part of the docker file.

As I understood, is that the NIF need to be compile on the computer that's going to be used. Good that you got it working too 👍

[2018-08-21 06:30] #15 closed

[2018-08-22 22:16] nicnilov commented on #10
Getting this error on CircleCI with `async: true` tests. Happens pretty often but does not reliably reproduce. Reproduces locally on OSX as well, though much more rarely. In one try it took 120 runs of the test suite for it to reproduce, 64 in another. Seems not to depend on the test suite seed.

My versions on CircleCI are

[code]

and local

[code]

I did a bit of testing on different versions a

[2018-08-23 04:56] riverrun commented on #10
Thanks for the detailed information.

[2018-08-23 20:54] nicnilov commented on #10
[Here is a repo](https://github.com/nicnilov/bcrypt_elixir_10) with a minimal working example reproducing the issue. I apologize for it not being a very debuggable version yet but it does consistently reproduce the issue.

Note that the actual errors look different depending on where they got caught. There are two main varieties:

[code]
and
[code]

An actual app's test suite also sometimes gives

[2018-08-24 00:47] nicnilov commented on #10
I did some more debugging and it seems the reason for this error

[code]

is the fact the salt can contain zeros and this line https://github.com/riverrun/bcrypt_elixir/blob/125de6006cf8d20404b50bd9f317bd008d0c704b/c_src/bcrypt_nif.c#L176 does `strlen`, so the condition fails.

[2018-08-24 03:14] riverrun commented on #10
Thanks for your input. Could you try [argon2_elixir](https://github.com/riverrun/argon2_elixir) and see if that has the same problems?

About the salt containing zeros, it shouldn't contain zeros.

[2018-08-24 10:50] nicnilov commented on #10
On Argon2 it seems to be working well.

[2018-08-25 00:08] nicnilov commented on #10
Changing this line https://github.com/riverrun/bcrypt_elixir/blob/125de6006cf8d20404b50bd9f317bd008d0c704b/c_src/bcrypt_nif.c#L87

to

[code]

fixes the issue. This makes sense to me because otherwise the `static` variable gets accessed and rewritten by multiple processes in parallel. I'm probably missing something, but I don't see a reason for this variable to be `static` in the first place. Does

[2018-08-25 02:48] riverrun commented on #10
Thanks for all your input. Yes, when implementing this, I wanted to make it as close to the OpenBSD version as possible, and I was always very wary about changing types.

Anyway, I will make the changes you suggested and let you know when it's ready.

[2018-08-25 03:10] riverrun commented on #10
@nicnilov @AndrewDryga @tomciopp @rickclare @leifg @tmpduarte  Version 1.1.0 adds the changes suggested by @nicnilov  - removing `static` from lines 87 and 229. Could you please confirm that it's working ok now?

[2018-08-25 12:25] nicnilov commented on #10
Thanks for the speedy update! This seems to fix the two previous varieties of the crash but not another one. There seem to still be times when zero is included in output. This does not crash the library but does lead to an exception down the line.

[code]

This needs some more looking into.

[2018-08-25 14:16] riverrun commented on #10
Thanks for the update and all your help. I'll get back to you soon about this.

[2018-08-27 19:50] nicnilov commented on #10
I'm so sorry! I was in a hurry and tested a wrong commit :sweat_smile:. I hope you didn't spend much time debugging it further. I have now tested the ***right*** commit with the following

[code]

and got all green, so the issue can be considered fixed.

[2018-08-28 07:30] tomciopp commented on #10
@riverrun I've upgraded and will let you know if I run into any issues during testing.

[2018-08-28 14:45] riverrun commented on #10
@nicnilov  thanks for the good news - and all your help with debugging this issue.

I'll wait for feedback from others, and then, hopefully, I will finally be able to close this issue.

[2018-12-11 03:36] #10 closed

[2019-01-02 20:45] Betree opened #18 "Add a CHANGELOG.md"
Changelogs are very useful to quickly update packages, especially when using services like https://dependabot.com

Would be great to have one for this library :slightly_smiling_face:

[2019-01-04 04:40] riverrun commented on #18
Thanks for pointing that out. I will add a CHANGELOG some time next week.

[2019-01-17 22:45] olivermt commented on #8
The 'new' build tools dont use the vcarsall.bat approach, or rather they do, but they just slap a developer console in the start menu.

Even using this and confirming I have nmake etc in path, I still get the same exact errors as above here.

[2019-01-17 22:48] olivermt commented on #8
VS 2017 tools (console)
Elixir 1.8.0, otp 20
Windows 10

Just for the record :)

Let me know if you need me to run any debug stuff.
The nif compiles just fine, I have dlls and everything in the priv of the deps folder.

[2019-01-17 22:49] olivermt commented on #8
ANd lastly, I am on the newest version on bcrypt_elixir, but I am using it via comeonin api.

[code]

[2019-01-18 02:44] riverrun commented on #8
The developer console you mention - does that set all the environment variables (the ones that vcvarsall.bat used to set)?

[2019-01-18 03:50] mogadget opened #19 "function Bcrypt.Base.gensalt_nif/3 is undefined on OSX Sierra"
Im running Elixir 1.8, Erlang 21 on OSX and Im getting an error `function Bcrypt.Base.gensalt_nif/3 is undefined (module Bcrypt.Base is not available)`.

I tried various ways to delete /deps and /_build directory and mix deps.get but no avail.   Anybody experienced this before?

[2019-01-20 08:04] riverrun commented on #19
First, a couple of questions:

* is `bcrypt_elixir` listed in the `deps` section of the mix.exs file?
* what command are you running when you get this error?

[2019-01-20 14:04] mogadget commented on #19
I found the solution, it something to do with compiling that creates bcrypt_nif.so.  For some reason, the C compiler was not able to generate the .so file properly and therefore it's failing to load.  My solution is I upgraded my OSX and all works fine now.

[2019-01-20 14:04] #19 closed

[2019-02-12 04:39] riverrun commented on #18
Added in version 2.0.0

[2019-02-12 04:39] #18 closed

[2019-02-12 04:41] riverrun commented on #11
Does anyone have any updates on setting up the C environment on Windows? If you do, please let me know.

[2019-02-14 10:11] lpil opened #20 "Document breaking changes for 1.1.1 -> 2.0.0"
Hello! I see the major version number has been incremented, meaning that there has been a breaking change in the library.

From reading the source code I am unable to determine what the breaking change is, could it be documented please? :)

Thanks,
Louis

[2019-02-14 13:33] riverrun commented on #20
Yes, I need to publicize the changes a bit more. The moduledocs for the Bcrypt module and the [Comeonin README](https://github.com/riverrun/comeonin) will give you more information. The main change is that comeonin is now a dependency of bcrypt_elixir, and comeonin defines two behaviours that bcrypt_elixir implements.

[2019-02-14 15:59] lpil commented on #20
Thank you!:)

[2019-02-14 15:59] #20 closed

[2019-03-28 15:04] #11 closed

[2019-04-10 20:34] olivermt commented on #11
I am getting the same error with VS 2017 as reported above.

Do you have any more ideas of what to do in terms of getting you more debugging information?

I could spin up a VM in azure, reproduce and give you access if that makes it easier.

[2019-04-10 23:27] riverrun commented on #11
What version of bcrypt_elixir are you using? Could you also just print out the error you are getting?

[2019-04-11 09:32] olivermt commented on #11
[code]

[2019-04-11 11:53] olivermt commented on #11
Also:

[code]

[2019-04-13 10:28] riverrun commented on #11
Could you open a shell normally (without running vcvarsall.bat command) and try the following?

"C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvarsall.bat" x64

Then try compiling Bcrypt and running it.

Then open another shell normally and run this command:

"C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Common7\Tools\vsdevcmd" -arch=x64

Again

[2019-04-24 11:57] olivermt commented on #11
It worked with the arch flag! Nice, thank you VERY much.. no more iex in wsl fighting with vscode in windows about file ownership when using elixirls :)

[2019-04-24 14:01] riverrun commented on #11
Glad to hear it worked. I will update the documentation and wiki to make them up-to-date.

[2019-05-31 15:30] rageofflames opened #23 "add_hash_salt\2"
hash_pwd_salt but with the add_hash functionality

[2019-05-31 15:30] rageofflames opened #24 "add_hash_salt/1"
hash_pwd_salt but with the add_hash return

[2019-05-31 15:31] #23 closed

[2019-05-31 15:32] rageofflames commented on #23
Github is creating me issues in double #24

[2019-05-31 15:35] #24 closed

[2019-05-31 15:35] rageofflames commented on #24
This doesn't make sense since under the hood add_hash already uses it

[2019-09-10 12:30] shituser opened #25 "Does not verify hashes created by another Bcrypt library"
I have a legacy PHP project, which I recently started rewriting in Elixir. I noticed that the library does not verify password hashes, generated by the PHP app, whereas the PHP app is able to verify hashes, generated by bcrypt_elixir.

It seems that the PHP app is generating hashes starting with `$2y$10$`, whereas the Elixir ones start with `$2b$12$`. Once I change the `$2y$` into `$2b$`, I can ve

[2019-09-10 20:15] riverrun commented on #25
This has come up before - see [this issue](https://github.com/riverrun/comeonin/issues/103) and [this note on the Comeonin wiki](https://github.com/riverrun/comeonin/wiki/Choosing-the-password-hashing-library) (under Bcrypt versions), but I should really add a note to the README for this repository as well.

Long story short, the '2y' prefix should be compatible with the '2b' prefix, and changing

[2019-09-11 14:28] shituser commented on #25
Thanks for the reply, I should have probably read the Comeonin documentation before submitting this.

[2019-09-11 14:28] #25 closed

[2019-09-12 02:15] riverrun commented on #25
Thanks for raising the issue - it's good to know when the documentation isn't so clear. I have just updated the README with a note about prefixes and compatibility with other libraries.

[2019-11-02 14:40] lukashambsch opened #26 "Mix deps.get hanging"
I'm trying to upgrade from elixir 1.8.1 to 1.9.2. After upgrading, I get this error when running `mix test`:

[code]

So I checked the versions of `bcrypt_elixir` and noticed that there is now a version 2. So I tried upgrading to version 2 and when I run `mix deps.get` it just hangs after outputting `Resolving Hex dependencies...`. Any ideas on what would cause this?

[2019-11-02 15:26] lukashambsch commented on #26
The first error seems to be resolved by accepting the xcode agreement (not sure what effect the elixir upgrade had on this). But it's still hanging when I try to upgrade `bcrypt_elixir` to `2.0`.

[2019-11-04 00:33] riverrun commented on #26
I am not sure if this will make a difference, but please make sure that `comeonin` is not in the list of dependencies in the mix.exs file.

I will look into this issue further and get back to as soon as I can.

[2019-11-04 23:42] lukashambsch commented on #26
It is not in the mix.exs file. But I do see it in the mix.lock file.

[2019-11-05 01:08] riverrun commented on #26
Ok. I will try to find out more about this problem and get back to you soon.

[2020-01-08 06:59] riverrun commented on #26
In [this issue](https://github.com/elixir-lang/elixir/issues/9374), they suggest upgrading hex to solve a similar problem. Could you try that and let me know if it works?

[2020-01-09 00:21] lukashambsch commented on #26
It's still just hanging for me event after running `mix local.hex --force`.

[2020-01-15 02:46] riverrun commented on #26
Ok. One more suggestion: try running `mix deps.clean --unlock --unused`, and then run `mix deps.get`.

[2020-01-17 03:55] ryo33 commented on #15
The reason for this issue is that bcrypt_elixir place the NIF artifacts into `deps`, not `_build`
## Reproduce
1. `mix compile`
2. `rm deps/bcrypt_elixir/priv/bcrypt_nif.so`
## Ways to resolve the situation
### Copy the NIF artifacts
* `COPY deps/bcrypt_elixir/priv/bcrypt_nif.so `
### Force compile
* `RUN mix deps.compile --force bcrypt_elixir`

[2020-02-04 00:01] lukashambsch commented on #26
Sorry for the slow response. I tried running `mix deps.clean --unlock --unused`, then running `mix deps.get`. Unfortunately it's still hanging when I have `{:bcrypt_elixir, "~> 2.0"}` in my dependencies.

[2020-02-14 06:34] riverrun commented on #26
Someone using pbkdf2_elixir solved a similar issue by running ` HEX_HTTP_CONCURRENCY=1 HEX_HTTP_TIMEOUT=120 mix deps.get`.

[2020-02-16 17:38] lukashambsch commented on #26
Still no luck. Just hanging when I run that command too.

[2020-02-27 15:48] alexandre-k-korotkov commented on #8
Having this same issue with vs code 2019.

[2020-03-01 03:19] riverrun commented on #8
@alexandre-k-korotkov please open a new issue and show me the error output that you are receiving.

[2020-03-01 04:50] riverrun commented on #26
Sorry to hear you are still having these issues. I don't really know what to suggest to fix it at the moment, but if I hear of anything, I will let you know.

[2020-03-01 23:43] lukashambsch commented on #26
That's alright. I appreciate everything you've done to try & help. Thanks!

[2020-03-03 18:35] alexandre-k-korotkov commented on #8
@riverrun I managed to get past it. The fix for me was uninstalling visual studio code 2019 and re-installing it again with every single workload.

Then running this script:

`cmd /K "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\Common7\Tools\VsDevCmd.bat" -arch=x64`

[2020-04-06 17:19] Boubalou commented on #26
I do have this issue when trying to use version 2.2 in my mix.exs.

My Dockerfile also hang and kill the process, using this setup:

[code]

[2020-05-04 19:40] rodrigoporcionato commented on #26
If you are a user windows, maybe the problem is relation to nmake

in your project elixir try it:

1- is necessary to have installed the vs studio. Check you location of vs is installed.

run
`cmd /K "C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\VC\Auxiliary\Build\vcvarsall.bat" x86_amd64
`
after this, execute mix deps.compile

[2020-07-10 12:56] tomekowal opened #27 "Why is this argument error?"
[code]

Hi, I encountered the strange behaviour that I can't explain.
This error popped up in tests with randomly generated input.
Calling it with those values reproduces the error.

(we are using version bcrypt 1.0.7)

The exact code we are running that sometimes produces the issue is:

[code]

Thanks for the fantastic library ❤️

[2020-07-16 01:07] riverrun commented on #27
Using a newer version of Bcrypt, I can't replicate this issue. Could you try updating Bcrypt and seeing if that solves the problem?

To update Bcrypt, follow these steps:

* in the `mix.exs` file's `deps` section, remove the `comeonin` dependency and change the `bcrypt` version to 2.2
* change all references to `Comeonin.Bcrypt.hashpwsalt` to `Bcrypt.hash_pwd_salt`
* change all references to `Come

[2020-07-28 04:31] #27 closed

[2020-07-29 13:25] tomekowal commented on #27
Thank you! That worked.
The bug was in a salting function. It was fixed in this commit https://github.com/riverrun/bcrypt_elixir/commit/1443bd45ccf72d83dbc0e7f547a297bd02d35299 so upgrading worked.

[2020-12-25 08:40] slashmili opened #28 "Bcrypt implementation flaw"
Hi 👋

I suppose we are safe since the the flaw was introduced between 1.65 and 1.66 versions.

https://portswigger.net/daily-swig/bcrypt-implementation-flaw-in-bouncy-castle-crypto-library-laid-bare

Just want to share it incase we want to update bcrypt version

[2020-12-25 12:27] slashmili commented on #28
Looks like we are not using Bouncy Castle version

I'm closing this

[2020-12-25 12:27] #28 closed

[2021-01-04 14:08] wallyfoo opened #29 "Apple Silicon Elixir 1.11.2 doesn't want to build 2.2.0"
Installed erlang 23.2.1 and exilir 1.11.3-otp-23 for Apple Silicon using asdf install latest.

Using comeonin associated with the phx-gen-auth libraries.

Deleted /deps and /_build.

mix deps.get
iex -S mix phx.server to rebuild.

When trying to authenticate or register in my phoenix app, comeonin can't find the bcrypt.nif and I get the following error:

[code]

Reverting back to my old Intel-comp

[2021-01-05 00:08] riverrun commented on #29
I am not sure how much I can help you with this, but as it is related to the compiler, you might want to try opening an issue at [elixir_make](https://github.com/elixir-lang/elixir_make).

Another option is to ask a question at [elixirforum](https://elixirforum.com/). That way you will be able to reach out to more developers who might have had similar issues.

Let me know how you get on, and obvio

[2021-01-10 22:42] riverrun commented on #29
Closing as it seems that this was fixed in #30

[2021-01-10 22:42] #29 closed

[2021-01-10 22:51] riverrun opened #32 "Move the `gen_salt` function to the Base module"
The main `Bcrypt` module should only contain the functions that the average developer would use, and all of the lower-level functions should be in the `Bcrypt.Base` module. With this in mind, the `gen_salt` function should really be in the `Bcrypt.Base` module, as most users will not use it directly.

I propose the following:

* move the `gen_salt` function to the `Bcrypt.Base` module
* deprecate

[2021-06-21 08:25] remigijusj opened #35 "Using Mingw compiler on Windows"
I wonder if it would be possible to support this option. It looks a much easier setup to me - no need to have Visual studio.
I have a local installation of the compiler, the version is MinGW-W64-builds-4.3.0 (I have no doubt other versions work fine, too).

The patch I have for bcrypt_elixir:
[code]

Unfortunately I don't have good knowledge how to integrate this patch in a robust way.

[2021-06-28 13:45] tatiesmars commented on #26
I m having similar issue with this image

[code]

What I dont understand is that it work on my laptop but not on remote server

[2021-07-06 18:27] phcurado commented on #26
I'm having the same issue, locally the image is compiling, on my CI is failing.

[2021-07-17 02:30] dnsbty commented on #26
I have the same issue with `elixir:1.12-alpine`. It looks like some sort of permission issue because when I have my Dockerfile just get dependencies but not download them and then run with `docker run -it my_app:latest "sh"` and then run `mix deps.compile` it gives me this error. But when I do the same thing with `docker run -it --privileged my_app:latest "sh"` then it compiles like normal. I'm no

[2021-07-17 22:11] dnsbty commented on #26
After playing around with this more today, it appears that the issue is with [a change in Alpine 3.14](https://wiki.alpinelinux.org/wiki/Release_Notes_for_Alpine_3.14.0#faccessat2). I found that via [this issue](https://gitlab.alpinelinux.org/alpine/aports/-/issues/12519).

I was able to solve it by updating Docker Desktop. On a remote server, you would probably need to update docker and container

[2021-11-12 04:06] Ch4s3 commented on #26
Is there a good solution for this for newer `hexpm/elixir` versions which use a newer version of alpine?

[2022-01-20 04:47] riverrun commented on #32
Updated in 0c865e5

[2022-01-20 04:47] #32 closed

[2022-03-12 07:59] sicksid commented on #26
for me what worked was to add this:

`RUN apk --no-cache add git make gcc erlang-dev libc-dev`

to the docker image

[2022-03-14 18:31] sicksid commented on #26
specifically i think it was `libc-dev`

[2022-05-04 21:18] davidalencar commented on #15
This worked for me:

`mix deps.compile --force bcrypt_elixir`

Thanks @ryo33

[2022-05-04 21:22] davidalencar commented on #8
This worked for me:

`mix deps.compile --force bcrypt_elixir`

Check https://github.com/riverrun/bcrypt_elixir/issues/15

[2022-05-05 08:02] spapas opened #38 "Set unusable password"
Hello! Is there a string I could save on my password field so as to have an unusable password ? I've got some users that are able to login through a different method and I don't want them to be able to login with a password.

[2022-07-17 08:57] HairZabala commented on #8
It was driving me crazy, and the reason I was getting that error was ridiculous. It was because there were blank spaces in my absolute path; those spaces generate issues when bcryp_elixir is being compiled. Just update your absolute path and make sure not to leave any blank space; solved it.

[2022-11-30 09:12] AashishChakravarty opened #40 "Compile failed on Alpine Docker Image"
I am facing this issue in `bitwalker/alpine-elixir-phoenix:1.13` docker image.

[code]